<board ng-repeat="board in boardCtrl.boards"></board>
<div class="create board">
    <div class="caption">
        <form ng-submit="boardCtrl.addNewBoard()">
            <fieldset>
                <div>
                    <input type="text" class="medium" placeholder="Board Title" ng-required
                           ng-model="boardCtrl.newTitle">
                </div>
                <div>
                    <input type="text" placeholder="Board description." ng-required ng-model="boardCtrl.newDesc">
                </div>
                <div class="bottom x-small">
                    <input type="checkbox" ng-model="boardCtrl.newisPublic"> Board is Public
                </div>
                <button type="submit" class="bottom-right-corner"><span class="glyphicon glyphicon-plus"></span>
                </button>
            </fieldset>
        </form>
    </div>
</div>