<note ng-repeat="note in noteCtrl.notes"></note>
<div class="create note">
    <div class="caption">
        <form ng-submit="noteCtrl.addNote()">
            <fieldset>
                <div><input type="text" class="medium" placeholder="Note Title" ng-model="noteCtrl.tempNote.title"/>
                </div>
                <div><textarea autosize placeholder="Note content" ng-model="noteCtrl.tempNote.description"></textarea>
                </div>
                <button type="submit" class="bottom-right-corner"><span class="glyphicon glyphicon-plus"></span>
                </button>
            </fieldset>
        </form>
    </div>
</div>