<div class="edit board my-repeat-animation">
    <div class="caption">
        <button type="button" class="top-right-corner" ng-click="boardCtrl.remove(board.id)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div>

            <input ng-model="board.title" type="text" class="medium" placeholder="Board Title">

        </div>
        <div>
            <input ng-model="board.description" type="text" placeholder="Board description.">
        </div>
        <div class="bottom x-small">
            <input type="checkbox" ng-model="board.isPublic"> Board is Public
        </div>
        <a href="#/board/{{ board.id }}" type="button" class="view bottom-right-corner">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</div>