<div class="edit note my-repeat-animation">
    <div class="caption">
        <button type="button" class="top-right-corner">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div><input type="text" class="medium" placeholder="Note Title"></div>
        <div><textarea autosize placeholder="Note content"></textarea></div>
    </div>
</div>
<div class="edit note my-repeat-animation">
    <div class="caption">
        <button type="button" class="top-right-corner">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div><input type="text" class="medium" placeholder="Note Title"></div>
        <div><textarea autosize placeholder="Note content"></textarea></div>
    </div>
</div>
<div class="create note">
    <div class="caption">
        <form>
            <fieldset>
                <div><input type="text" class="medium" placeholder="Note Title" /></div>
                <div><textarea autosize placeholder="Note content"></textarea></div>
                <button type="submit" class="bottom-right-corner"><span class="glyphicon glyphicon-plus"></span></button>
            </fieldset>
        </form>
    </div>
</div>